@media all {
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #2a8bcc;
        color: white;
        padding: 20px;
        text-align: center;
    }

    header h1 {
        font-family: "Times New Roman", sans-serif;
        margin: 0;
    }

    header p {
        margin: 5px 0 0 0;
        font-size: 1.1em;
    }

    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333;
        display: flex;
        justify-content: space-between;
    }

    .navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar li a:hover {
        background-color: #555;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 10em;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 100%;
        left: 0;
    }

    .dropdown-content li {
        width: 100%;
    }
    
    .dropdown-content li a {
        text-align: right;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    main {
        padding: 20px;
    }

    main a {
        color: #2a8bcc;
    }
}

@media print {
    nav, header {
        display: none;
    }

    body {
        background-color: white;
        color: black;
    }

    main {
        padding: 0;
    }
}